.gem {
    font-size: 40pt;
}

#gem-1 {
    color: red;
}

#gem-2 {
    color: blue;
}

#gem-3 {
    color: green;
}

#gem-4 {
    color: purple;
}

/* Background pattern from Toptal Subtle Patterns */
body {
    background-image: url(../images/diagmonds.png);
    color: whitesmoke;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}